In [1]:
# Introduction to list datatypes :

In [ ]:
Defination :  A list is a collection of otemas in a particular order
Classification : a list is classified as a multiple datatype. (Which can edit/alter once it has been defined)
Defining : ----> [] ----> square brakcet

In [2]:
students= ['alena','pavan','prabhu','ramesh','bharat','anjali']
print(students)

['alena', 'pavan', 'prabhu', 'ramesh', 'bharat', 'anjali']

In [3]:
type(students)

list

In [5]:
#Req : How to access the elements from the list ...?
# pavan --- Name from the above list

In [ ]:
Introduction to indexing in list:   (start from 0 always)
    0,1,2,3,4,5,...

In [6]:
print(students[1])

pavan

In [7]:
print(students[4].title())

Bharat

In [ ]:
req: 
    1. Add a new student name to the above list ---> Ajeet
    2. Replace a student 'alena' ---> 'anusha'
    3. Delete pavan name from above list
    
    int question :
        What is the difference between append vs insert .. ?

In [8]:
students.append('ajeeth')  #Add name
print(students)

['alena', 'pavan', 'prabhu', 'ramesh', 'bharat', 'anjali', 'ajeeth']

In [9]:
students.append('diya')  #Add name
print(students)

['alena', 'pavan', 'prabhu', 'ramesh', 'bharat', 'anjali', 'ajeeth', 'diya']

In [ ]:
Sub req : to add Harshitha name at the 3rd position, How can we achive this ?

In [10]:
students.insert(3,'harshitha')  #Add name at specific index
print(students)

['alena', 'pavan', 'prabhu', 'harshitha', 'ramesh', 'bharat', 'anjali', 'ajeeth', 'diya']

In [12]:
print(students[3])  #verify indexing

harshitha

In [13]:
print(students) #Will replace alena to anusha

['alena', 'pavan', 'prabhu', 'harshitha', 'ramesh', 'bharat', 'anjali', 'ajeeth', 'diya']

In [14]:
students[0] = 'anusha'  #To replace at perticular indexing

In [15]:
print(students)

['anusha', 'pavan', 'prabhu', 'harshitha', 'ramesh', 'bharat', 'anjali', 'ajeeth', 'diya']

In [16]:
del students[1]  #Delete perticular name with indexing

In [17]:
print(students)

['anusha', 'prabhu', 'harshitha', 'ramesh', 'bharat', 'anjali', 'ajeeth', 'diya']